<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  {% block meta %} {% endblock meta %} 
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  {% block stylesheets %} {% endblock stylesheets %} 
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>

  {% block body %} {% endblock body %} 

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js"></script>

  {% block scripts %} {% endblock scripts%} 

</body>
</html>
